/* Основні стилі */
@media (min-width: 0px) {
  body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    overflow-x: hidden;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #99ed82;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  /* header */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 13px;
    background-color: rgba(255, 255, 255, 0.116);
    position: fixed;
    width: 100%;
    height: 7vh;
    z-index: 1000;
    transition: background-color 0.3s, padding 0.3s;
  }
  
  .navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
  }
  
  .nav-links {
    display: none;
  }

  .mini-nav-links {
    display: none;
    position: fixed;
    margin-left: 67vw;
    margin-top: 8.55vh;
    padding: 5vw;
    z-index: 3;
    background-color: #0101015c;
  }
  .mini-nav-links a {
    color: white;
    font-size: 5vw;
    width: 100%;
    
  }


  .mini-nav-links li {
    margin-bottom: 3vw;
    display: flex;
    justify-content: end;
  }

  .nav-links-button {
    display: flex;
  }
  
  .nav-links li {
    position: relative;
  }
  
  .nav-links a {
    color: #010101;
    font-size: 2.5vw;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #8ebc81;
  }
  
  .language-select {
    background: transparent;
    border: none;
    color: black;
    font-size: 3vw;
    cursor: pointer;
  }

  #language {
    display: flex;
  }

  .logo {
    margin-left: 4vw;
  }

  .logo img {
    height: 50px;
    margin-left: 0;
    padding: 0;
    border: 0;
  }
  
  .menu-icon {
    display: flex;
    cursor: pointer;
  }
  
  .menu-icon img {
    width: 15vw;
    height: 10vw;
    padding: 0;
  }




  
  .burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s;
  }
  
  .burger.active div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .burger.active div:nth-child(2) {
    opacity: 0;
  }
  
  .burger.active div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  .nav-links.active {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #a19282;
    margin-top: 0;
  }
  
  .nav-links.active li {
    text-align: center;
    padding: 10px 0;
  }
  
  .hero {
    position: relative;
    background-image: url("./-Photo-/MAIN/Фон головної сторінки.jpg");
    background-size: cover;
    background-position: center center;
    color: white;
    padding-top: 80px;
  }
  
   .icon {
    width: 5vw;
    height: 5vw;
  }
  
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  
  .hero .container {
    display: flex;
        position: relative;
        z-index: 2;
        padding-bottom: 457px;
        flex-direction: column;
        margin-left: 18vw;
  }
  
  .ECOHOUSE-logo {
     width: 20vw;
  }

  .hero h1 {
    font-size: 10vw;
    font-family: monospace;
    margin: 12vw 0 20px 0px;
    color: black;
    text-align: left;
    padding: 0;
    font-weight: bold;
  }
  
  .hero p {
    font-size: 4vw;
    margin: 5px 0 0 0px;
    padding: 0;
  }
  
  .contour {
    width: 100%;
        display: flex;
        position: absolute;
        bottom: 5%;
        z-index: 2;
        white-space: pre;
  }
  
  .contour img {
    width: 15vw;
        height: auto;
        float: left;
        margin-left: 10vw;
        margin-right: 2vw;
  }
  
  .contour p {
    font-size: 2vw;
    margin: 0;
    white-space: pre;
    text-align: left;
    display: inline-block;
    vertical-align: top;
  }
  
  .features {
    background: #d1e0d5;
    padding: 6vw 0;
  }
  
  .features .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .feature img.houses {
    width: 60px;
    height: 50px;
  }
  
  .feature img.churches {
    width: 45px;
    height: 65px;
  }
  
  .feature img.baths {
    width: 60px;
    height: 45px;
  }
  
  .feature img.gazebos {
    width: 55px;
    height: 55px;
  }
  
  .feature {
    text-align: center;
  }
  
  .feature img {
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .feature p {
    padding: 0px;
    margin: 5px 0 0;
    text-align: center;
    font-size: 2vw;
  }
  
  .why {
    position: relative;
    background: url("./-Photo-/MAIN/ліс.png") no-repeat center center;
    background-size: cover;
    padding: 60px 0px;
    text-align: left;
    color: white;
  }
  
  .why::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .why .title,
  .why .why-container {
    position: relative;
    z-index: 2;
  }
  
  .title {
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 40px;
    font-size: 5vw;
  }
  
  .highlight {
    color: rgb(94, 183, 94);
  }
  
  .why-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.3vw;
    line-height: 1.35;
  }
  
  .why-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .why-item img {
    width: 85vw;
  }
  
  .why-item p {
    font-size: 3vw;
    margin: 4vw;
    color: white;
    padding: 0px;
  }
  
  .photo {
    background-color: #d1e0d5;
    padding: 20px 0;
    text-align: center;
    background: url("./-Photo-/MAIN/Зелений_вершок.png") no-repeat center center;
    position: relative;
    background-size: cover;
    background-position: center center;
    color: white;
    padding-top: 80px;
  }
  
  .photo h1 {
    font-size: 5vw;
    margin-bottom: 5vw;
    margin-top: 10vw;
    font-weight: 700;
  }
  
  .titleblack {
    color: black;
  }
  
  .titlegray {
    color: gray;
  }
  
  .photo1 {
    display: inline-block;
    margin: 0 10px;
  }
  
  .photo1 img {
    width: 25vw;
    height: 18vw;
  }
  
  .photo-description {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: black;
  }
  
  .photo-description p {
    margin: 0 10px;
  }
  
  .clickBox {
    display: flex;
    height: 24vw;
    align-items: center;
    justify-content: center;
  }
  
  .clickBox a {
    display: flex;
    align-items: center;
  
  }
  
  .click {
    width: 15vw;
    height: 8vw;
  }
  
  .click-icon img {
    width: 30px;
    height: auto;
  }
  
  .phoneIcon {
    width: 8vw;
  }
  
  .circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
  }
  
  .more_photos img {
    width: 23vw;
    height: auto;
    margin-bottom: 7vw;
    margin-left: 11vw;
  }
  
  .circle img {
    width: 13vw;
    height: auto;
    margin-bottom: 3vw;
    margin-left: 11vw;
  }
  
  .photo_text {
    display: flex;
    align-items: center;
  }
  
  .photo_text p {
    color: black;
    font-size: 2vw;
    width: 36vw;
    padding: 0;
    margin-right: 20vw;
    margin-left: 1vw;
    text-align: left;
  
  }


  
  
  footer {
    background-color: #2b4d3f;
    color: white;
    padding: 20px;
  }
  
  .logo_f {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo_f h1 {
    font-size: 5vw;
    color: black;
    font-family: monospace;
  }
  
  .footer-logo  {
    width: 12vw;
    height: auto;
  }
  
  .footer-container {
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
  }

  .footer-about {
    width: 83vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  }

  
  

  .footer-about h3,
  .footer-contacts h3,
  .footer-navigation h3 {
    color: #5ec55e;
    font-size: 4vw;
  }
  
  .footer-about p,
  .footer-contacts p {
    font-size: 3vw;
    padding: 0;
    margin-top: 0;
  }
  

  

  .footer-contacts {
    width: 83vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .footer-contacts .icon {
    width: 5vw;
      height: 5vw;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      display: inline-block;
      margin-right: 1vw;
      vertical-align: middle;
      text-align: center;
      
      box-sizing: border-box;
  }
  
  .phone {
    width: 40vw;
    margin-bottom: 2vw;
  }
  
  .e-mail .icon img {
    padding-left: 1vw;
  }
  
  .footer-contacts a {
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    width: 33vw;
    margin-bottom: 1vw;
  }
  
  .footer-contacts a:hover {
    text-decoration: underline;
  }

  .footer-navigation {
    width: 83vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer-navigation ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-navigation li {
    margin: 3vw 0;
    display: flex;
    justify-content: center;
  }
  
  .footer-navigation a {
    color: white;
    text-decoration: none;
    font-size: 3vw;
  }
  
  .footer-navigation a:hover {
    text-decoration: underline;
  }
  
  .footer-contacts h3,
  p {
    padding: 0;
  }
  
  .highlight {
    color: #5ec55e;
  }
  
  .consult-link {
    display: inline-block;
    padding: 5px 10px; 
    border: 1px solid #5ec55e;
    border-radius: 50px; 
    background: rgba(255, 255, 255, 0.5);
    color: #5ec55e;
    text-decoration: none;
    text-align: center; 
    vertical-align: middle; 
    line-height: 1; 
   
  }
  
  .consult-link:hover {
    background: #5ec55e;
    color: #2b4d3f;
  } 
}

@media (min-width: 1000px) {

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}
a:hover {
  color: #99ed82;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  background-color: rgba(255, 255, 255, 0.116);
  position: fixed;
  height: 7vw;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s, padding 0.3s;
}
.nav-links {
  display: flex;
    gap: 3vw;
    margin-left: auto !important;
    margin-right: 4vw;
}
.nav-links li {
  position: relative;
}
.nav-links a {
  color: #010101;
  font-size: 2vw;
  transition: color 0.3s;
}
.nav-links a:hover {
  color: #8ebc81;
}
.language-select {
  background: transparent;
  border: none;
  color: #010101;
  font-size: 2vw;
  cursor: pointer;
}
#language {
  display: none;
}
.logo img {
  height: 6vw;
  margin-left: 4vw;
  padding: 0;
  border: 0;
}
.menu-icon {
  display: none;
  cursor: pointer;
  margin-right: 20px;
}
.menu-icon img {
  width: 30px;
  height: 30px;
  padding-right: 8px;
}
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s;
}
.burger.active div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.burger.active div:nth-child(2) {
  opacity: 0;
}
.burger.active div:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
.nav-links.active {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #a19282;
  margin-top: 0;
}
.nav-links.active li {
  text-align: center;
  padding: 10px 0;
}
.hero {
  position: relative;
  background-image: url("./-Photo-/MAIN/Фон головної сторінки.jpg");
  background-size: cover;
  background-position: center center;
  color: white;
  padding-top: 80px;
}
.icon {
  width: 5vw;
  height: 5vw;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.hero .container {
  position: relative;
  z-index: 2;
  padding-bottom: 457px;
  margin: 0;
}
.ECOHOUSE-logo {
  display: none;
}
.hero h1 {
    font-size: 5vw;
    margin: 12vw 0 20px 80px;
    color: black;
    text-align: left;
    padding: 0;
    font-weight: bold;
}
.hero p {
  font-size: 4vw;
  margin: 5px 0 0 80px;
  padding: 0;
  text-align: left;
  white-space: pre;
  
}
.contour {
  position: absolute;
  bottom: 5%;
  z-index: 2;
  white-space: pre;
}
.contour img {
  width: 15vw;
  height: auto;
  float: left;
  margin-left: 30px;
}
.contour p {
  font-size: 2vw;
  margin: 0;
  white-space: pre;
  text-align: left;
  display: inline-block;
  vertical-align: top;
}
.features {
  background: #d1e0d5;
  padding: 6vw 0;
}
.features .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.feature img.houses {
  width: 60px;
  height: 50px;
}
.feature img.churches {
  width: 45px;
  height: 65px;
}
.feature img.baths {
  width: 60px;
  height: 45px;
}
.feature img.gazebos {
  width: 55px;
  height: 55px;
}
.feature {
  text-align: center;
}
.feature img {
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.feature p {
  padding: 0px;
  margin: 5px 0 0;
  text-align: center;
  font-size: 2vw;
}
.why {
  position: relative;
  background: url("./-Photo-/MAIN/ліс.png") no-repeat center center;
  background-size: cover;
  padding: 60px 0px;
  text-align: left;
  color: white;
}
.why::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.why .title,
.why .why-container {
  position: relative;
  z-index: 2;
}
.title {
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 40px;
  font-size: 3.3vw;
}
.highlight {
  color: rgb(94, 183, 94);
}
.why-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.3vw;
  line-height: 1.35;
}
.why-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  align-items: center;
}
.why-item img {
  width: 45vw;
}
.why-item p {
  font-size: 1.4em;
  color: white;
  padding: 0px;
  margin-left: 35px;
  margin-right: 20px;
}
.why-item.reverse {
  flex-direction: row-reverse;
}
.why-item.reverse img {
  margin-left: 20px;
}
.photo {
  background-color: #d1e0d5;
  padding: 20px 0;
  text-align: center;
  background: url("./-Photo-/MAIN/Зелений_вершок.png") no-repeat center center;
  position: relative;
  background-size: cover;
  background-position: center center;
  color: white;
  padding-top: 80px;
}
.photo h1 {
  font-size: 5vw;
  margin-bottom: 5vw;
  margin-top: 10vw;
  font-weight: 700;
}
.titleblack {
  color: black;
}
.titlegray {
  color: gray;
}
.photo1 {
  display: inline-block;
  margin: 0 10px;
}
.photo1 img {
  width: 25vw;
  height: 18vw;
}
.photo-description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: black;
}
.photo-description p {
  margin: 0 10px;
}
.clickBox {
  display: flex;
  height: 24vw;
  align-items: center;
  justify-content: center;
}
.clickBox a {
  display: flex;
  align-items: center;

}
.click {
  width: 10vw;
  height: 5vw;
}
.click-icon img {
  width: 30px;
  height: auto;
}
.phoneIcon {
  width: 5vw;
}
.circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10%;
}

.more_photos img {
  width: 23vw;
  height: auto;
  margin-bottom: 7vw;
  margin-left: 11vw;
}
.circle img {
  width: 13vw;
  height: auto;
  margin-bottom: 3vw;
  margin-left: 11vw;
}
.photo_text {
  display: flex;
  align-items: center;
}
.photo_text p {
  color: black;
  font-size: 2vw;
  width: 36vw;
  padding: 0;
  margin-right: 20vw;
  margin-left: 1vw;
  text-align: left;

}






footer {
  background-color: #2b4d3f;
  color: white;
  padding: 20px;
}

.logo_f {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_f h1 {
  font-size: 5vw;
  color: black;
  font-family: monospace;
}

.footer-logo  {
  width: 12vw;
  height: auto;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
}

.footer-about {
  display: block;
}

.footer-about h3,
.footer-contacts h3,
.footer-navigation h3 {
  color: #5ec55e;
  font-size: 2vw;
}

.footer-about p,
.footer-contacts p {
  font-size: 1.5vw;
    padding: 0;
    margin-right: 3vw;
}

.footer-contacts {
  display: block;
  width: 26.7vw;
}

.footer-contacts .icon {
  width: 5vw;
    height: 5vw;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.phone {
  display: block;
  margin-bottom: 0vw;
  width: 26.7vw;
}
.e-mail {
  display: contents;
 
  justify-content: center;
  align-items: center;
}

.e-mail .icon img {
  padding-left: 1vw;
}

.footer-navigation {
  width: 17vw;
  display: block;
  
}

.footer-contacts a {
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw;
  margin-bottom: 1vw;
  width: 12.25vw;
}

.footer-contacts a:hover {
  text-decoration: underline;
}

.footer-navigation ul {
  list-style: none;
  padding: 0;
}

.footer-navigation li {
  display: block;
  margin: 2vw 0;
  width: 17vw;
}

.footer-navigation a {
  color: white;
  text-decoration: none;
  font-size: 1.5vw;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-contacts h3,
p {
  padding-left: 5vw;
}

.highlight {
  color: #5ec55e;
}

.consult-link {
  display: inline-block;
  padding: 5px 10px; 
  border: 1px solid #5ec55e;
  border-radius: 50px; 
  background: rgba(255, 255, 255, 0.5);
  color: #5ec55e;
  text-decoration: none;
  text-align: center; 
  vertical-align: middle; 
  line-height: 1; 
 
}

.consult-link:hover {
  background: #5ec55e;
  color: #2b4d3f;
} 
}




