
@media (min-width: 0px) {
    html,
    body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
    
    body {
      font-family: "Montserrat", sans-serif;
      background-color: #f9f9f9;
      overflow-x: hidden;
    }
    
    a {
      text-decoration: none;
      color: inherit;
      transition: color 0.3s;
    }
    
    a:hover {
      color: #99ed82;
    }
    
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    

    /* Стилі навігації */
    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 13px;
      background-color: rgba(255, 255, 255, 0.116);
      position: fixed;
      width: 100%;
      height: 7vh;
      z-index: 1000;
      transition: background-color 0.3s, padding 0.3s;
    }
    
    .navbar.scrolled {
      background-color: rgba(255, 255, 255, 0.9);
      padding: 10px 20px;
    }
    
    .nav-links {
      display: none;
    }
  
    .mini-nav-links {
      display: none;
      position: fixed;
      margin-left: 67vw;
      margin-top: 8.55vh;
      padding: 5vw;
      z-index: 3;
      background-color: #0101015c;
    }
    .mini-nav-links a {
      color: white;
      font-size: 5vw;
      width: 100%;
      
    }
    .mini-nav-links li {
      margin-bottom: 3vw;
      display: flex;
      justify-content: end;
    }
  
    .nav-links-button {
      display: flex;
    }
    
    .nav-links li {
      position: relative;
    }
    
    .nav-links a {
      color: #010101;
      font-size: 2.5vw;
      transition: color 0.3s;
    }
    
    .nav-links a:hover {
      color: #8ebc81;
    }
    
    .language-select {
      background: transparent;
      border: none;
      color: white;
      font-size: 3vw;
      cursor: pointer;
    }
  
    .logo {
      margin-left: 4vw;
    }
  
    .logo img {
      height: 50px;
      margin-left: 0;
      padding: 0;
      border: 0;
    }
    
    .menu-icon {
      display: flex;
      cursor: pointer;
    }
    
    .menu-icon img {
      width: 15vw;
      height: 10vw;
      padding: 0;
    }



    
    .burger {
      display: none;
      flex-direction: column;
      cursor: pointer;
    }
    
    .burger div {
      width: 25px;
      height: 3px;
      background-color: #fff;
      margin: 5px;
      transition: all 0.3s;
    }
    
    .burger.active div:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    
    .burger.active div:nth-child(2) {
      opacity: 0;
    }
    
    .burger.active div:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
    
    .nav-links.active {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #a19282;
      margin-top: 0;
    }
    
    .title {
      color: white;
        position: relative;
        z-index: 4;
        font-size: 5vw;
        margin: 0;
        margin-left: 5vw;
    }
    .SERVICE {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: end;
    }
    
    .houses {
      background-image: url("../-Photo-/SERVICES AND PRODUCTS/Будинок.jpg");
      background-color: rgba(0, 0, 0, 0.9);
      background-size: cover;
      background-position: center center;
      height: 100vw;
      color: white;
      position: relative;
      text-align: left;
    }
    
    .houses::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6); /* Затемнення */
      z-index: 1;
    }
    .houses p {
      color: white;
      bottom: 0;
      left: 0;
      font-size: 3vw;
      z-index: 1;
      padding: 0vw 5vw 6vw 5vw;
    }



    .churches {
      background-image: url("../-Photo-/SERVICES AND PRODUCTS/Церква.jpg");
      background-color: rgba(0, 0, 0, 0.9);
      background-size: cover;
      background-position: center center;
      height: 100vw;
      color: white;
      position: relative;
      text-align: left;
    }
    
    .churches::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7); /* Затемнення */
      z-index: 1;
    }
    .churches p {
      color: white;
        
        bottom: 0;
        left: 0;
        font-size: 3vw;
        z-index: 1;
        padding: 0vw 5vw 6vw 5vw;
    }
    
    
    .baths {
      background-image: url("../-Photo-/SERVICES AND PRODUCTS/Баня.png");
      background-color: rgba(0, 0, 0, 0.9);
      background-size: cover;
      background-position: center center;
      height: 100vw;
      color: white;
      position: relative;
      text-align: left;
    }
    
    .baths::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7); /* Затемнення */
      z-index: 1;
    }
    .baths p {
      color: white;
      
      bottom: 0;
      left: 0;
      font-size: 3vw;
      z-index: 1;
      padding: 0vw 5vw 6vw 5vw;
    }
    
    
    
    
    .feature {
      background-image: url("../-Photo-/SERVICES AND PRODUCTS/Альтанки.jpg");
      background-color: rgba(0, 0, 0, 0.9);
      background-size: cover;
      background-position: center center;
      height: 100vw;
      color: white;
      position: relative;
      text-align: left;
    }
    .feature::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7); /* Затемнення */
      z-index: 1;
    }
    .feature p {
      color: white;
        
        bottom: 0;
        left: 0;
        font-size: 3vw;
        z-index: 1;
        padding: 0vw 5vw 6vw 5vw;
    }


    
    
    
    /* Стилі для секції " Footer " */
    footer {
      background-color: #2b4d3f;
      color: white;
      padding: 20px;
    }
    
    .logo_f {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .logo_f h1 {
      font-size: 5vw;
      color: black;
      font-family: monospace;
    }
    
    .footer-logo  {
      width: 12vw;
      height: auto;
    }
    
    .footer-container {
      display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0;
    }
  
    .footer-about {
      width: 83vw;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
    }
  
    
    
  
    .footer-about h3,
    .footer-contacts h3,
    .footer-navigation h3 {
      color: #5ec55e;
      font-size: 4vw;
    }
    
    .footer-about p,
    .footer-contacts p {
      font-size: 3vw;
      padding: 0;
      margin-top: 0;
    }
    
  
    
  
    .footer-contacts {
      width: 83vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
  
    .footer-contacts .icon {
      width: 5vw;
        height: 5vw;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        display: inline-block;
        margin-right: 1vw;
        vertical-align: middle;
        text-align: center;
        
        box-sizing: border-box;
    }
    
    .phone {
      width: 40vw;
      margin-bottom: 2vw;
    }
    
    .e-mail .icon img {
      padding-left: 1vw;
    }
    
    .footer-contacts a {
      color: white;
      text-decoration: none;
      display: inline-block;
      font-size: 2vw;
      width: 33vw;
      margin-bottom: 1vw;
    }
    
    .footer-contacts a:hover {
      text-decoration: underline;
    }
  
    .footer-navigation {
      width: 83vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    .footer-navigation ul {
      list-style: none;
      padding: 0;
    }
    
    .footer-navigation li {
      margin: 3vw 0;
      display: flex;
      justify-content: center;
    }
    
    .footer-navigation a {
      color: white;
      text-decoration: none;
      font-size: 3vw;
    }
    
    .footer-navigation a:hover {
      text-decoration: underline;
    }
    
    .footer-contacts h3,
    p {
      padding: 0;
    }
    
    .highlight {
      color: #5ec55e;
    }
    
    .consult-link {
      display: inline-block;
      padding: 5px 10px; 
      border: 1px solid #5ec55e;
      border-radius: 50px; 
      background: rgba(255, 255, 255, 0.5);
      color: #5ec55e;
      text-decoration: none;
      text-align: center; 
      vertical-align: middle; 
      line-height: 1; 
     
    }
    
    .consult-link:hover {
      background: #5ec55e;
      color: #2b4d3f;
    } 
} 


@media (min-width: 1000px) {
  
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f9f9f9;
  overflow-x: hidden;
  
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

a:hover {
  color: #99ed82;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Стилі навігації */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  background-color: rgba(255, 255, 255, 0.116);
  position: fixed;
  height: 7vw;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s, padding 0.3s;
}

.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 20px;
}

.nav-links {
  display: flex;
  gap: 3vw;
  margin-left: auto !important;
  margin-right: 4vw;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  color: white;
  font-size: 2vw;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #8ebc81;
}

.language-select {
  background: transparent;
  border: none;
  color: white;
  font-size: 2vw;
  cursor: pointer;
}

#language {
  display: none;
}

.logo img {
  color: white;
  height: 6vw;
  margin-left: 4vw;
  padding: 0;
  border: 0;
}

.menu-icon {
  display: none;
  cursor: pointer;
  margin-right: 20px;
}

.menu-icon img {
  width: 30px;
  height: 30px;
  padding-right: 8px;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s;
}

.burger.active div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.active div:nth-child(2) {
  opacity: 0;
}

.burger.active div:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.nav-links.active {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #a19282;
  margin-top: 0;
}

.NNNNN,
.houses,
.churches,
.baths,
.feature {
  box-sizing: border-box;

}



.title {
  color: white;
  position: relative;
  z-index: 4;
  font-size: 5vw;
  margin: 0;
  margin-left: 5vw;
}


.houses {
  background-image: url("../-Photo-/SERVICES AND PRODUCTS/Будинок.jpg");
  background-color: rgba(0, 0, 0, 0.9);
  background-size: cover;
  background-position: center center;
  height: 66vw;
  color: white;
  position: relative;
  text-align: left;
}
.houses::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Затемнення */
  z-index: 1;
}
.houses p,
.baths p {
  color: white;
  bottom: 0;
  left: 0;
  font-size: 2vw;
  z-index: 1;
  padding: 0vw 5vw 6vw 5vw;
}


.churches {
  background-image: url("../-Photo-/SERVICES AND PRODUCTS/Церква.jpg");
  background-color: rgba(0, 0, 0, 0.9);
  background-size: cover;
  background-position: center center;
  height: 66vw;
  color: white;
  position: relative;
  text-align: left;
}
.churches::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Затемнення */
  z-index: 1;
}
.churches p {
  color: white;
    bottom: 0;
    left: 0;
    font-size: 2vw;
    z-index: 1;
    padding: 0vw 5vw 6vw 5vw;
}


.baths {
  background-image: url("../-Photo-/SERVICES AND PRODUCTS/Баня.png");
  background-color: rgba(0, 0, 0, 0.9);
  background-size: cover;
  background-position: center center;
  height: 66vw;
  color: white;
  position: relative;
  text-align: left;
}
.baths::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Затемнення */
  z-index: 1;
}


.feature {
  background-image: url("../-Photo-/SERVICES AND PRODUCTS/Альтанки.jpg");
  background-color: rgba(0, 0, 0, 0.9);
  background-size: cover;
  background-position: center center;
  height: 66vw;
  color: white;
  position: relative;
  text-align: left;
}
.feature::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Затемнення */
  z-index: 1;
}
.feature p {
  color: white;
    
    bottom: 0;
    left: 0;
    font-size: 2vw;
    z-index: 1;
    padding: 0vw 5vw 6vw 5vw;
}



/* Стилі для секції " Footer " */
footer {
  background-color: #2b4d3f;
  color: white;
  padding: 20px;
}

.logo_f {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_f h1 {
  font-size: 5vw;
  color: black;
  font-family: monospace;
}

.footer-logo  {
  width: 12vw;
  height: auto;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
}

.footer-about {
  display: block;
}

.footer-about h3,
.footer-contacts h3,
.footer-navigation h3 {
  color: #5ec55e;
  font-size: 2vw;
}

.footer-about p,
.footer-contacts p {
  font-size: 1.5vw;
    padding: 0;
    margin-right: 3vw;
}

.footer-contacts {
  display: block;
  width: 26.7vw;
}

.footer-contacts .icon {
  width: 5vw;
    height: 5vw;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.phone {
  display: block;
  margin-bottom: 0vw;
  width: 26.7vw;
}
.e-mail {
  display: contents;
 
  justify-content: center;
  align-items: center;
}

.e-mail .icon img {
  padding-left: 1vw;
}

.footer-navigation {
  width: 17vw;
  display: block;
  
}

.footer-contacts a {
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw;
  margin-bottom: 1vw;
  width: 12.25vw;
}

.footer-contacts a:hover {
  text-decoration: underline;
}

.footer-navigation ul {
  list-style: none;
  padding: 0;
}

.footer-navigation li {
  display: block;
  margin: 2vw 0;
  width: 17vw;
}

.footer-navigation a {
  color: white;
  text-decoration: none;
  font-size: 1.5vw;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-contacts h3,
p {
  padding-left: 5vw;
}

.highlight {
  color: #5ec55e;
}

.consult-link {
  display: inline-block;
  padding: 5px 10px; 
  border: 1px solid #5ec55e;
  border-radius: 50px; 
  background: rgba(255, 255, 255, 0.5);
  color: #5ec55e;
  text-decoration: none;
  text-align: center; 
  vertical-align: middle; 
  line-height: 1; 
 
}

.consult-link:hover {
  background: #5ec55e;
  color: #2b4d3f;
} 
}